{% load static %}
{% block content %}
    <div class="row questions justify-content-center">
    <div class="col-3 text-center">
        <img class="avatar" src="{%  static "img/cat_s_papirosoy.jpg" %}" alt="">
    </div>
    <div class="col-9 ">
        <h3 class = "my-3">
            <a href="{% url "question" one_post.id %}">{{ one_post.title }}</a>
        </h3>
        {{ one_post.text }}
    </div>
    <div class="row p-0">
        <div class="col text-center">
            <div class="row-1 my-3">
                Rate: {{ one_post.like_to_que }}
            </div>
            <div class="row-1 my-3 text-center">
                <div class="btn btn-outline-dark">Like</div>
            </div>
        </div>
        <div class="col-6 my-3">
            <p class="mt-5">
                <a href="{% url "question" one_post.id %}" >Answers ({{ one_post.answer }})</a>
                </p>
        </div>

        <div class="col-3 my-3">
            <p class="mt-5">
                Tags:
                <a href={% url "tag" one_post.id %} > {{ one_post.tag }}</a>
        </div>
    </div>
    </div>
{% endblock content %}