{% extends  'incl/base.html' %}
{%  load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block  content %}

     <h2 class="mx-4">Log In</h2>
<form novalidate action="/login/" method="post">
    {% csrf_token %}
    <div class="form-group col-md-6 mx-4 my-3">
      {% bootstrap_form_errors form %}
    </div>
    <div class="form-group col-md-6 mx-4 my-3">
      {{ form.username|as_crispy_field }}
    </div>
      <div class="form-group col-md-6 mx-4 my-3">
     {{ form.password|as_crispy_field }}
    </div>
      <button type="submit" class="btn btn-dark mx-4 my-3">
          <a style="text-decoration: none; color: white">LogIn</a>
      </button>
      <button type="submit" class="btn btn-dark mx-4 my-3">
           <a style="color: white" href="{% url "signup" %}">Create new account</a>
      </button>
</form>

{% endblock %}
